<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>All URLs - Shortly</title>
  <link rel="stylesheet" href="/css/myUrls.css" />
</head>
<body>
  <header>
    <a href="/home.html" class="logo">Shortly</a>
    <nav>
      <ul>
        <li><a href="/allUrls.html">All URLs</a></li>
        <li><a href="/myUrls.html">My URLs</a></li>
      </ul>
    </nav>
  </header>


  <main>
    <div class="main-container">
      <section class="allurls-section">
        <h1>All Shortened Links</h1>
        <br>

        <div id="myUrlList" class="url-list">
          <!-- Filled by JS -->
        </div>
      </section>
    </div>
  </main>

  <footer>
    <p>© 2025 Shortly. All rights reserved.</p>
  </footer>

  <script src="/js/allUrls.js"></script>
</body>
</html>
