<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>My URLs - Shortly</title>
  <link rel="stylesheet" href="/css/myurls.css" />
</head>
<body>
  <header>
    <a href="/" class="logo">Shortly</a>
    <nav>
      <ul>
        <li><a href="/allUrls.html">All URLs</a></li>
        <li><a href="/myurls.html">My URLs</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <div class="main-container">
      <section class="myurls-section">
        <h1>My Shortened Links</h1>
        <br>

        <div id="myUrlList" class="url-list">
          <!-- JS ile doldurulacak -->
        </div>
      </section>
    </div>
  </main>

  <footer>
    <p>© 2025 Shortly. Tüm hakları saklıdır.</p>
  </footer>

  <script src="/js/myUrls.js"></script>
</body>

</html>
